<div>
  clients works!

  <ul>
    <li *ngFor="let opp of oppList">
      <div>
        <a *ngIf="opp.id !== selectedId" [routerLink]="['/clients', opp.id]">
          {{opp.title}}
        </a>
        <a *ngIf="opp.id === selectedId" [class.selected]="opp.id === selectedId" [routerLink]="['/clients']">
          {{opp.title}}
        </a>
      </div>
      <div class="card-body" [class.card-body__colapsed]="opp.id !== selectedId"
        [class.card-body__expanded]="opp.id === selectedId">
        <div *ngIf="opp.id === selectedId">{{opp.body}}</div>
      </div>
    </li>
  </ul>
</div>